.container{
    width: 100wh;
    height: 100vh;
    display: grid;
    grid-template-areas:    "header header"
                            "aside main"
                            "nav main"
                            "footer footer";
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr 2fr 0.5fr;
}

header{
    background-color:blue;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

aside {
    grid-area: aside;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    grid-area: nav;
    background-color: red;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    grid-area: main;
    background-color: yellow;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    grid-area: footer;
    background-color: orange;
}