.container {
    width: 60%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr 400px 2fr;
}

.item {
    background-color: violet;
    text-align: center;
}

.item:nth-child(even){
    background-color: teal;
}